.controlPane {
  overflow-x: auto;

  padding: 24px;
  /* Optical centering */
  padding-top: 18px;
  background-color: white;
  border-radius: 8px;
  /*
    HACK: Margin on an outer bound like this is
    a little gross, but we haven't seen the tools
    to deal with it yet!
  */
  margin-bottom: 32px;

  white-space: nowrap;
}

.title {
  position: sticky;
  left: 0px;

  margin: 0;
  /* Optical centering */
  margin-bottom: -4px;
}

.metadata {
  margin-left: 16px;

  color: hsl(0deg, 0%, 30%);
  font-size: 0.875rem;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .controlPane {
    display: inline-block;

    max-width: 85%;
    margin: 0px 7px;
  }

  .controlPane:first-child {
    margin-left: 20px;
  }

  .controlPane:last-child {
    margin-right: 20px;
  }
}
